---
import { FileText, Github, Linkedin, Twitter } from 'lucide-astro'
---

<div class="flex justify-between items-center px-4 sm:px-6">
  <div class="flex space-x-2 sm:space-x-3 items-center">
    <div class="relative">
      <img
        src="https://github.com/jorgeteixe.png"
        alt="Jorge Teixeira Profile Picture"
        class="h-8 w-8 sm:h-10 sm:w-10 rounded-full border-2 border-gray-200 dark:border-gray-700"
      />
      <div
        class="absolute -bottom-0.5 -right-0.5 h-2.5 w-2.5 sm:h-3 sm:w-3 bg-green-500 border-2 border-white dark:border-gray-900 rounded-full"
      >
      </div>
    </div>
    <span class="text-base sm:text-lg font-semibold text-gray-900 dark:text-gray-100"
      >Jorge Teixeira</span
    >
  </div>
  <div class="flex space-x-1 sm:space-x-2 items-center">
    <a
      href="https://github.com/jorgeteixe"
      class="flex items-center justify-center w-8 h-8 sm:w-9 sm:h-9 text-gray-600 dark:text-gray-400 hover:text-gray-900 dark:hover:text-gray-100 hover:bg-gray-100 dark:hover:bg-gray-800 rounded-lg cursor-pointer transition-all duration-200"
    >
      <Github class="h-4 w-4" />
    </a>
    <a
      href="https://x.com/jorgeteixe_"
      class="flex items-center justify-center w-8 h-8 sm:w-9 sm:h-9 text-gray-600 dark:text-gray-400 hover:text-gray-900 dark:hover:text-gray-100 hover:bg-gray-100 dark:hover:bg-gray-800 rounded-lg cursor-pointer transition-all duration-200"
    >
      <Twitter class="h-4 w-4" />
    </a>
    <a
      href="https://www.linkedin.com/in/jorge-teixeira-crespo/"
      class="flex items-center justify-center w-8 h-8 sm:w-9 sm:h-9 text-gray-600 dark:text-gray-400 hover:text-gray-900 dark:hover:text-gray-100 hover:bg-gray-100 dark:hover:bg-gray-800 rounded-lg cursor-pointer transition-all duration-200"
    >
      <Linkedin class="h-4 w-4" />
    </a>
    <a
      href="https://cv.teixe.es"
      title="CV"
      class="flex items-center justify-center w-8 h-8 sm:w-9 sm:h-9 text-gray-600 dark:text-gray-400 hover:text-gray-900 dark:hover:text-gray-100 hover:bg-gray-100 dark:hover:bg-gray-800 rounded-lg cursor-pointer transition-all duration-200"
    >
      <FileText class="h-4 w-4" />
    </a>
  </div>
</div>
